In [9]:
from datascience import *
import numpy as np
from random import *
game = Table.read_table('game_stats.csv')
lineup = Table.read_table('lineup.csv')
events = Table.read_table('events.csv')
lineup

Game_id                          | Period | Person_id                        | Team_id                          | status
006728e4c10e957011e1f24878e6054a | 0      | ae53f8ba6761b64a174051da817785bc | 01be0ad4af7aeb1f6d2cc2b6b6d6d811 | A
006728e4c10e957011e1f24878e6054a | 0      | 44230324724c84f122ac62a5f0918314 | 45ba8fc87f55b1191c50c400dc7ed11c | A
006728e4c10e957011e1f24878e6054a | 0      | 8d2127290c94bd41b82a2938734bc750 | 01be0ad4af7aeb1f6d2cc2b6b6d6d811 | A
006728e4c10e957011e1f24878e6054a | 0      | 48ec4e6c52f418d5ca4ef510ba473ea0 | 45ba8fc87f55b1191c50c400dc7ed11c | A
006728e4c10e957011e1f24878e6054a | 0      | e816ff284dc3f965b8f3d605a3b91bae | 01be0ad4af7aeb1f6d2cc2b6b6d6d811 | A
006728e4c10e957011e1f24878e6054a | 0      | ed95dff5440fadf3042b5acacea81eed | 01be0ad4af7aeb1f6d2cc2b6b6d6d811 | A
006728e4c10e957011e1f24878e6054a | 0      | 616281dee946056b071699476fdee9ec | 45ba8fc87f55b1191c50c400dc7ed11c | A
006728e4c10e957011e1f24878e6054a | 0      | e814950408915f43de2b079dce7c21c5 | 45ba8fc87f55b1191c50c400dc7ed11c | A
006728e4c10e957011e1f24878e6054a | 0      | 2ad626904c8b28cceb8e12c624a84240 | 01be0ad4af7aeb1f6d2cc2b6b6d6d811 | A
006728e4c10e957011e1f24878e6054a | 0      | bd45fe7dba52aa2cd00ba80ff107d05b | 01be0ad4af7aeb1f6d2cc2b6b6d6d811 | I
... (5770 rows omitted)

In [2]:
#game table has to be set up like this
game = game.sort("Period", descending = False)
game = game.sort("PC_Time", descending = False)
game = game.sort("WC_Time", descending = True)
game = game.sort("Event_Num", descending = True)

In [8]:
test_quarter = game.where("Game_id", are.equal_to("006728e4c10e957011e1f24878e6054a")).where("Period", are.equal_to(1))

def game_poss_counter(game_id):
    game_id = game
    game_table = game.where("Game_id". are.equal_to(game_id))
    current period = 1
    players = lineup.where("Game_id", are.equal_to(game_id)).column("Person_id")
    starters = lineup.where("Game_id", are.equal_to(game_id)).where("Period", are.equal_to(1)).column("Person_id")

Game_id                          | Event_Num | Event_Msg_Type | Period | WC_Time | PC_Time | Action_Type | Option1 | Option2 | Option3 | Team_id                          | Person1                          | Person2                          | Person3                          | Team_id_type | Person1_type | Person2_type | Person3_type
006728e4c10e957011e1f24878e6054a | 2         | 12             | 1      | 546,410 | 7,200   | 0           | 0       | 0       | 0       | 1473d70e5646a26de3c52aa1abd85b1f | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 0            | 0            | 0            | 0

In [31]:
test_game = game.where("Team_id", are.equal_to("1473d70e5646a26de3c52aa1abd85b1f")).where("Game_id", are.equal_to("006728e4c10e957011e1f24878e6054a"))
test_game

Game_id                          | Event_Num | Event_Msg_Type | Period | WC_Time | PC_Time | Action_Type | Option1 | Option2 | Option3 | Team_id                          | Person1                          | Person2                          | Person3                          | Team_id_type | Person1_type | Person2_type | Person3_type
006728e4c10e957011e1f24878e6054a | 2         | 12             | 1      | 546,410 | 7,200   | 0           | 0       | 0       | 0       | 1473d70e5646a26de3c52aa1abd85b1f | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 0            | 0            | 0            | 0
006728e4c10e957011e1f24878e6054a | 0         | 16             | 4      | 629,380 | 0       | 0           | 0       | 0       | 0       | 1473d70e5646a26de3c52aa1abd85b1f | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 0            | 0            | 0            | 0

In [26]:
one_game = game.where("Game_id", are.equal_to("68f62f1c5cb84257932676bef8cc7a1a")).sort("Event_Num", descending = True)
one_game_1 = one_game.where("Period", are.equal_to(1)).where("Event_Msg_Type", are.equal_to(12))
events = one_game.column("Event_Num")
one_game_1

Game_id                          | Event_Num | Event_Msg_Type | Period | WC_Time | PC_Time | Action_Type | Option1 | Option2 | Option3 | Team_id                          | Person1                          | Person2                          | Person3                          | Team_id_type | Person1_type | Person2_type | Person3_type
68f62f1c5cb84257932676bef8cc7a1a | 2         | 12             | 1      | 379,620 | 7,200   | 0           | 0       | 0       | 0       | 1473d70e5646a26de3c52aa1abd85b1f | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 0            | 0            | 0            | 0

In [27]:
one_game

Game_id                          | Event_Num | Event_Msg_Type | Period | WC_Time | PC_Time | Action_Type | Option1 | Option2 | Option3 | Team_id                          | Person1                          | Person2                          | Person3                          | Team_id_type | Person1_type | Person2_type | Person3_type
68f62f1c5cb84257932676bef8cc7a1a | 793       | 13             | 4      | 476,880 | 0       | 0           | 0       | 0       | 0       | 012059d397c0b7e5a30a5bb89c0b075e | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 3            | 0            | 0            | 0
68f62f1c5cb84257932676bef8cc7a1a | 792       | 4              | 4      | 476,840 | 11      | 0           | 0       | 0       | 0       | dc0f916810cb46c22beec67a860e00b4 | 87d5036c732e89f1d2566f24b5c17113 | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 2            | 5            | 0            | 0
68f62f1c5cb84257932676bef8cc7a1a | 791       | 2              | 4      | 476,800 | 49      | 1           | 2       | 0       | 0       | dc0f916810cb46c22beec67a860e00b4 | 25cf5e1780ec195d1b11660bb9f10689 | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 2            | 4            | 0            | 0
68f62f1c5cb84257932676bef8cc7a1a | 790       | 4              | 4      | 476,790 | 62      | 0           | 0       | 0       | 0       | dc0f916810cb46c22beec67a860e00b4 | 3624f9b65b645ac7969395f1cac609d1 | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 2            | 4            | 0            | 0
68f62f1c5cb84257932676bef8cc7a1a | 789       | 2              | 4      | 476,770 | 83      | 1           | 2       | 0       | 0       | dc0f916810cb46c22beec67a860e00b4 | 3624f9b65b645ac7969395f1cac609d1 | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 2            | 4            | 0            | 0
68f62f1c5cb84257932676bef8cc7a1a | 788       | 3              | 4      | 476,660 | 160     | 12          | 1       | 0       | 0       | 012059d397c0b7e5a30a5bb89c0b075e | 4b35bf5cc8eebb940aa41c466bff7277 | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 3            | 5            | 0            | 0
68f62f1c5cb84257932676bef8cc7a1a | 785       | 8              | 4      | 476,340 | 160     | 0           | 0       | 0       | 0       | 012059d397c0b7e5a30a5bb89c0b075e | 8c646f2710d4f64955903039fdc6374e | 6a47aad050b23defa36c9d566a0570ff | 0370a0d090da0d0edc6319f120187e0e | 3            | 5            | 5            | 0
68f62f1c5cb84257932676bef8cc7a1a | 784       | 8              | 4      | 476,340 | 160     | 0           | 0       | 0       | 0       | 012059d397c0b7e5a30a5bb89c0b075e | 67cbf4e4a852b1756f1f3710cbcfedf0 | e741e01157292e79ed64b86014039285 | 0370a0d090da0d0edc6319f120187e0e | 3            | 4            | 4            | 0
68f62f1c5cb84257932676bef8cc7a1a | 783       | 3              | 4      | 476,320 | 160     | 11          | 1       | 0       | 0       | 012059d397c0b7e5a30a5bb89c0b075e | 4b35bf5cc8eebb940aa41c466bff7277 | 0370a0d090da0d0edc6319f120187e0e | 0370a0d090da0d0edc6319f120187e0e | 3            | 5            | 0            | 0
68f62f1c5cb84257932676bef8cc7a1a | 781       | 6              | 4      | 475,920 | 160     | 1           | 1       | 0       | 2       | 012059d397c0b7e5a30a5bb89c0b075e | 25cf5e1780ec195d1b11660bb9f10689 | 4b35bf5cc8eebb940aa41c466bff7277 | 8698f9e48464917e2d0e53104f1db2b5 | 3            | 4            | 5            | 1
... (541 rows omitted)

In [ ]:
#returns a table with player ids, total number of offensive points in offensive possesions, takes in a game_id
def game_pos_off_pts(game_id):
    return
#returns a table with player ids, total number of defensive points in offensive possesions, takes in a game_id
def game_pos_def_pts(game_id):
    return
#returns a table with all the offensive or defensive possesions and points for every player in the playoffs, takes in either
#the defensive possesion-points calc function or offensive one
def pos_pts_tally(game_pos_pts_func):
    return
#calculates ORT for all players, displays as table of Players and ORT
def ORT_calculator(tally_table):
    return
#calculates DRT for all players, displays as table of Players and DRT
def DRT_calculator(tally_table):

In [ ]:
#bui;ding the game_pos_off_pts function